<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<h:body>

	<!-- TITULO -->
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Certificado</h1>
		</div>
	</div>
	<!-- FIM TITULO -->

	<!-- BOTÃO CADASTRAR -->
	<div class="row container-fluid">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<h:form id="frmCadastrar">
					<p:commandButton
						actionListener="#{certificadoMB.criarNovoObjetoCertificado()}"
						value="Cadastrar" update=":frmModalSalvar" id="btnCadastrar"
						onclick="PF('dlgCertificado').show(); PF('dlgCertificado').content.scrollTop('0')"
						title="Cadastrar" />
				</h:form>
			</ol>
		</div>
	</div>
	<!-- FIM DO BOTÃO CADASTRAR -->
	<!-- TABELA-->
	<div class="col-md-12">
		<h:form id="frmTabela">
			<p:dataTable id="tabela" value="#{certificadoMB.certificadosAlunos}"
				resizableColumns="true" var="obj" reflow="true" rows="10"
				paginator="true" paginatorPosition="bottom"
				emptyMessage="Nenhum certificado cadastrado"
				rowsPerPageTemplate="5,10,15,30,50,100">

				<p:column headerText="Ver" style="width:50px">
					<p:commandButton update=":frmDetalhesAtividadeTurma"
						styleClass="btn btn-block" title="Ver" alt="detlhes certificado"
						icon="ui-icon-search" oncomplete="PF('dlgDetalhes').show()">
						<f:setPropertyActionListener value="#{obj}"
							target="#{certificadoMB.certificado}" />
					</p:commandButton>
				</p:column>

				<p:column headerText="PDF" style="width:50px">
					<p:commandButton alt="Certificado PDF" title="Certificado PDF"
						styleClass="btn btn-block" onclick="PF('dlgArquivo').show();"
						icon="ui-icon-document" update=":uploadCertificado">
						<f:setPropertyActionListener value="#{obj}"
							target="#{certificadoMB.certificado}" />
					</p:commandButton>
				</p:column>

				<p:column headerText="Atividade"
					filterBy="#{obj.atividadeTurma.atividade.descricao}"
					sortBy="#{obj.atividadeTurma.atividade.descricao}"
					filterMatchMode="contains">
					<h:outputText value="#{obj.atividadeTurma.atividade.descricao}" />
				</p:column>

				<p:column headerText="Descrição" filterBy="#{obj.descricao}"
					sortBy="#{obj.descricao}" filterMatchMode="contains">
					<h:outputText value="#{obj.descricao}" />
				</p:column>

				<p:column headerText="Instituição" filterBy="#{obj.instituicao}"
					sortBy="#{obj.instituicao}" filterMatchMode="contains">
					<h:outputText value="#{obj.instituicao}" />
				</p:column>

				<p:column headerText="Alterar" style="width:68px">
					<p:commandButton alt="Alterar" update=":frmModalSalvar"
						styleClass="btn btn-block" onclick="PF('dlgCertificado').show();"
						icon="ui-icon-pencil"
						actionListener="#{certificadoMB.permitirPDF(obj)}">
						<f:setPropertyActionListener value="#{obj}"
							target="#{certificadoMB.certificado}" />
					</p:commandButton>
				</p:column>
				<p:column headerText="Excluir" style="width:68px">
					<p:commandButton actionListener="#{certificadoMB.inativar(obj)}"
						icon="ui-icon-trash" title="Excluir" styleClass="btn btn-block"
						update="frmTabela :dlgInformacao" alt="Excluir">
						<p:confirm header="Confirmação" message="Deseja excluir?" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>

	</div>
	<!--FIM DA TABELA-->

	<!-- DIALOG SALVAR -->
	<p:dialog header="Certificado" widgetVar="dlgCertificado" modal="true"
		responsive=" true" width="60%" id="dlgCertificado" closable="true"
		closeOnEscape="true" resizable="false" draggable="false">

		<h:form id="frmModalSalvar" enctype="multipart/form-data">
			<div class="ui-fluid">
				<div class="col-md-12">
					<label>Descrição *</label>
					<p:inputText title="Descrição" alt="descrição"
						styleClass="col-md-12" id="descricao"
						value="#{certificadoMB.certificado.descricao}" required="true"
						requiredMessage="O campo descrição não deve ser nulo" />
				</div>
			</div>
			<div class="ui-fluid">
				<div class="col-md-12">
					<label>Instituição *</label>
					<p:inputText title="Instituição" alt="instituicao"
						styleClass="col-md-12" id="instituicao"
						value="#{certificadoMB.certificado.instituicao}" required="true"
						requiredMessage="O campo instituição não deve ser nulo" />
				</div>
			</div>
			<div class="ui-fluid">
				<div class="col-md-4">
					<label>Quantidade de horas *</label>
					<p:inputText title="Quantidade de horas" alt="Quantidade de horas"
						type="number" id="quantidadeHoras"
						value="#{certificadoMB.certificado.quantidadeMaximaHora}"
						required="true"
						requiredMessage="O campo quantidade de horas não deve ser nulo" />

				</div>
				<div class="col-md-4">
					<label>Data de início *</label>
					<p:calendar id="dtInicio" alt="Data de início"
						title="Data de início"
						value="#{certificadoMB.certificado.dataInicio}"
						pattern="dd/MM/yyyy" mask="true" required="true"
						requiredMessage="O campo data de início não deve ser nulo" />
				</div>
				<div class="col-md-4">
					<label>Data de finalização *</label>
					<p:calendar id="dtFinalizacao" alt="Data de finalização"
						title="Data de finalização"
						value="#{certificadoMB.certificado.dataFinalizado}"
						pattern="dd/MM/yyyy" mask="true" required="true"
						requiredMessage="O campo data de finalização não deve ser nulo" />
				</div>
			</div>
			<div class="ui-fluid">
				<div class="col-md-11 col-xs-10">
					<label>Atividade *</label>
					<p:autoComplete id="atividade" dropdown="true" scrollHeight="170"
						value="#{certificadoMB.certificado.atividadeTurma}"
						completeMethod="#{certificadoMB.completarAtividadeTurma}"
						forceSelection="true" converter="converterAtividadeTurma"
						var="att" itemLabel="#{att.atividade.descricao}"
						itemValue="#{att}" required="true"
						requiredMessage="O campo atividade não deve ser nulo" />

					<small>Campos obrigatórios *</small>
				</div>
			</div>
			<div class="ui-fluid">
				<div class="col-md-12">
					<p:outputLabel for="certificadoPDF" value="Certificado PDF"
						id="pdfID" />

					<p:fileUpload mode="advanced" id="certificadoPDF" fileLimit="1"
						fileLimitMessage="É possível selecionar apenas um arquivo"
						invalidFileMessage="Tipo de arquivo inválido"
						fileUploadListener="#{certificadoMB.upload}" auto="true"
						allowTypes="/(\.|\/)(pdf)$/" sizeLimit="2000000" multiple="false"
						invalidSizeMessage="Tamanho do arquivo inválido"
						disabled="#{certificadoMB.permitePDF}" showButtons="false"
						update=":frmModalSalvar:certificadoPDF :dlgInformacao" />
				</div>
			</div>
			<div class="modal-footer">
				<p:commandButton value="Salvar" id="btnSalvar" alt="Sim"
					styleClass="ui-priority-primary"
					actionListener="#{certificadoMB.salvar()}"
					update=":frmTabela :dlgInformacao" />
					
				<p:commandButton value="Cancelar"
					onclick="PF('dlgCertificado').hide();" alt="Cancelar" />
			</div>
		</h:form>

	</p:dialog>
	<!-- FIM DO DIALOG SALVAR -->


	<!-- DIALOG DETALHES -->
	<p:dialog header="Atividade da turma" widgetVar="dlgDetalhes"
		responsive="true" modal="true" closeOnEscape="true" resizable="false"
		closable="true" draggable="false">
		<p:outputPanel id="atividadeDetalhe">
			<h:form id="frmDetalhesAtividadeTurma">
				<h:panelGrid columns="2">
					<label>Grupo: </label>
					<h:outputText
						value="#{certificadoMB.certificado.atividadeTurma.atividade.grupo.descricao}" />

					<label>Atividade: </label>
					<h:outputText
						value="#{certificadoMB.certificado.atividadeTurma.atividade.descricao}" />

					<label>Descrição: </label>
					<h:outputText value="#{certificadoMB.certificado.descricao}" />

					<label>Instituição: </label>
					<h:outputText value="#{certificadoMB.certificado.instituicao}" />

					<label>Quantidade horas: </label>
					<h:outputText
						value="#{certificadoMB.certificado.quantidadeMaximaHora}" />

					<label>Horas computadas: </label>
					<h:outputText value="#{certificadoMB.certificado.horaComputada}" />

					<label>Data de início: </label>
					<h:outputText value="#{certificadoMB.certificado.dataInicio}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>

					<label>Data de finalização: </label>
					<h:outputText value="#{certificadoMB.certificado.dataFinalizado}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>

					<label>Certificado: </label>
					<p:commandButton alt="Certificado PDF" title="Certificado PDF"
						styleClass="btn btn-block" onclick="PF('dlgArquivo').show();"
						icon="ui-icon-document" update=":uploadCertificado" />
				</h:panelGrid>
			</h:form>
		</p:outputPanel>
	</p:dialog>
	<!-- FIM DO DIALOG DETALHES -->

	<!-- ARQUIVO PDF -->
	<p:dialog header="Arquivo" widgetVar="dlgArquivo" modal="true"
		id="dlgArquivo" closable="true" closeOnEscape="true" responsive="true"
		resizable="false" draggable="false">
		<h:form id="uploadCertificado">
			<label>Certificado: </label>
			<h:outputText
				value="#{certificadoMB.certificado.caminhoCertificado}" />
			<object type="application/pdf"
				data="${facesContext.externalContext.requestContextPath}/certificadoUpload/#{certificadoMB.certificado.caminhoCertificado}.pdf?pfdrid_c=true"
				height="500px" width="100%" internalinstanceid="11" />
		</h:form>
	</p:dialog>
	<!-- FIM ARQUIVO PDF -->

</h:body>
</html>